html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#nav-container {
  width: 15%;
}

#map-container {
  width: 85%;
  height: 100%;
}

#info-window {

}
