html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/********************/
/* Drawer Container */
/********************/
#drawer-container {
  width: 75%;
  /*left: 0;*/
  z-index: 1;
  background-color: #3833bd;
  position: fixed;
  height: 100%;
}

#drawer-container.closed {
  transform: translateX(-100%);
  transition: transform .75s ease;
}

#drawer-container.open {
  transform: translateX(0);
  transition: transform .75s ease .4s;
}

/*****************/
/* Hamburger Menu*/
/*****************/
#drawer-btn {
  position: absolute;
  top: 0;
  right: -12vw;
  width: 12vw;
  height: 8vh;
  background-color: #3833bd;
  /*box-shadow: inset 0 0 2vh white;*/
}

#drawer-btn.closed {
  transform: translateX(12vs);
  transition: transform .3s ease .5s;
}

#drawer-btn.open {
  transform: translateX(-12vw);
  transition: transform .3s ease-in;
}

/* Create and position icon */
.btn-icon, .btn-icon:before, .btn-icon:after {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  content: "";
}

.btn-icon {
  height: 15%;
  width: 70%;
  top: 40%;
  left: 15%;
}

.btn-icon:before, .btn-icon:after {
  height: 100%;
  width: 100%;
  left: 0;
}

.btn-icon:before {
  top: -185%;

}

.btn-icon:after {
  top: 185%;
}

/* When the drawer is closed */
.btn-icon.closed {
  background-color: white;
  transition: background-color 1s ease;
}

.btn-icon.closed:before, .btn-icon.closed:after {
  transform: translateY(0) rotate(0deg);
  transition: transform 1s ease;
}

/* When the drawer is open */
.btn-icon.open {
  background-color: transparent;
  transition: background-color .7s ease;
}

.btn-icon.open:before {
  /*transform: matrix(0.586,0.8,-0.8,0.586,40,40);*/
  transform: translateY(185%) rotate(45deg);
  transition: transform ease .7s;
}

.btn-icon.open:after{
  transform: translateY(-185%) rotate(-45deg);
  transition: transform .7s ease;
}


/*************/
/* Map Stuff */
/*************/
#map-container {
  width: 100%;
  height: 100%;
}

#info-window {

}
