html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul {
  padding: 0 0 1vh 1vh;
}

li {
  list-style-type: none;
  font-size: 1.25em;
  margin: 3vh 0 0 0;
}

#container {
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  /*overflow: auto;*/
}

/********************/
/* Drawer Container */
/********************/
#drawer-top, #drawer-content {
  width: 75vw;
  left: 0;
  z-index: 1;
  background-color: #3833bd;
}

#drawer-top {
  height: 10vh;
  position: fixed;
}

#drawer-content {
  position: absolute;
  top: 10vh;
  overflow-y: auto;
  height: 90vh;
}

#drawer-top.closed, #drawer-content.closed {
  transform: translateX(-100%);
  transition: transform .2s ease;
}

#drawer-top.open, #drawer-content.open {
  transform: translateX(0);
  transition: transform .75s ease .1s;
}

/************************/
/* Drawer Icon Container*/
/************************/
/* Separate button for map due to overflow-y: scroll*/
#map-btn {
  z-index: 1;
}

#drawer-btn {
  top: 0;
  right: -12vw;
}

#drawer-btn {
  position: absolute;
  width: 12vw;
  height: 8vh;
  background-color: #3833bd;
}

#drawer-btn.closed {
  transform: translateX(12vs);
  transition: transform .3s ease .4s;
}

#drawer-btn.open {
  transform: translateX(-12vw);
  transition: transform .3s ease;
}

/***************/
/* Drawer Icon */
/***************/
.btn-icon, .btn-icon:before, .btn-icon:after {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  content: "";
}

.btn-icon {
  height: 15%;
  width: 70%;
  top: 40%;
  left: 15%;
}

.btn-icon:before, .btn-icon:after {
  height: 100%;
  width: 100%;
  left: 0;
}

.btn-icon:before {
  top: -185%;

}

.btn-icon:after {
  top: 185%;
}

/**************************/
/* Drawer Icon Animations */
/**************************/
/* Closing */
.btn-icon.closed {
  background-color: white;
  transition: background-color 1s ease;
}

.btn-icon.closed:before, .btn-icon.closed:after {
  transform: translateY(0) rotate(0deg);
  transition: transform 1s ease;
}

/* Opening */
.btn-icon.open {
  background-color: transparent;
  transition: background-color .7s ease;
}

.btn-icon.open:before {
  transform: translateY(185%) rotate(45deg);
  transition: transform ease .7s;
}

.btn-icon.open:after{
  transform: translateY(-185%) rotate(-45deg);
  transition: transform .7s ease;
}

/******************/
/* Drawer Content */
/******************/
#drawer-content {
  color: white;
}

#drawer-list {
  border-top: 1px solid black;
}

#drawer-content p {
  margin: .5em;
}

#drawer-content span {
  margin: 0 3vw 0 0;
}

#drawer-content a {
  font-size: 0.9em;
  color: white;
}

#place-details {
  margin-top: 2vh;
}

#place-details p a:last-child {
  margin: 0 4vw;
}

#list-item-info span:last-child {
  float: right;
  margin: 0 3vw 1vh 3vw;
  font-size: 1.5em;
}

.fa-chevron-circle-up {
  color: rgba(93, 234, 93, 1);
}

.fa-chevron-circle-down {
  color: red;
}

#list-item-info span:last-child:hover {
  opacity: .7;
}

#place-address {
  font-size: .8em;
}


/********
/* Modal */
/*********/
#modal {
  /* This is about right for now */
  display: none;
  position: absolute;
  z-index: 1;
/*  overflow: auto;*/ /* In case of out of bounds issues */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);

}

#inner-modal {
  position: absolute;
  overflow: auto;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.9);
}

#modal-topbar {
  position: fixed;
  width: 80%;
  background-color: white;
}

#modal-header {
  text-align: center;
  margin: 0;
  padding: 1vh 0 1vh;
}

#close-modal {
  float: right;
  margin: 0;
  padding: 1vw 2vw;
  border-left: .1em solid black;
  border-bottom: .1em solid black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.6);
}

#close-modal:hover {
  background-color: rgba(255, 0, 0, 1);
}

#modal-reviews {
  margin: 10vh 4vw 0;
}

#review {
  margin: 0 0 6vh;
}

#review p {
  margin: .5em 0;
}

#author-link {
  text-align: right;
}

.modal-photo {
  max-height: 70vh;
  max-width: 80vw;
}

/*************/
/* Map Stuff */
/*************/
#map-container {
  width: 100vw;
  height: 100vh;
}

#infowindow {
  display: none;
}

/***************/
/* Info Window */
/***************/
#info-window-content img {
  float: right;
  margin: 1vh 1vh;
}

#info-window-content img:hover {
  opacity: 0.5;
  cursor: pointer;
}

#wiki-info {
  padding: 1vh;
  /*border-bottom: 1px solid black;*/
}

#foursquare-info {
  clear: both;
  border-top: 1px solid black;
}
/*#wiki-info span {
  float: left;
}*/
/****************/
/* Error Window */
/****************/
#error-window {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: red;
}

#error-window span {
  float: right;
  padding: 3vh 3vw;
  font-size: 1.3em;
  font-weight: 800;
}

#error-window h4 {
  margin: 1em 0.5em 0.5em;
}

#error-window p {
  margin: 0.5em;
}

/* In case Google Maps can't be reached */
#maps-error {
  display: none;
}
